<article>
  <h2>Editable Dynamic Table</h2>
  <table mat-table [dataSource]="dataSource">
    <!-- Name col -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <!-- Occupation col -->
    <ng-container matColumnDef="occupation">
      <th mat-header-cell *matHeaderCellDef scope="col">Occupation</th>
      <td mat-cell *matCellDef="let element">{{ element.occupation }}</td>
    </ng-container>
    <!-- Age col -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef scope="col">Age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>
    <!-- table header and rows definition -->
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</article>