<article>
  <h2>Editable Dynamic Table</h2>
  <table mat-table [dataSource]="dataSource">
    <!-- Col -->
    <ng-container [matColumnDef]="col" *ngFor="let col of displayColumns">
      <th mat-header-cell *matHeaderCellDef scope="col">{{ col }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-label>{{ col }}</mat-label>
          <input type="dataSchema[col]" matInput [(ngModel)]="element[col]">
        </mat-form-field>
      </td>
    </ng-container>
    <!-- table header and rows definition -->
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</article>